body::after {
  content: "";
  background: url(./../img/bground-pizza.jpg);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#profilepic {
  width: 72px;
  height: 72px;
}
#profile {
  float: left;
  width: 33%;
}
#logout {
  float: left;
  width: 33%;
  margin: auto;
}
#motto {
  float: left;
  width: 33%;
  font-size: 30px;
}
a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#logout > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#searchframe {
  width: 350px;
  height: 60px;
  background-color: rgb(92, 100, 100);
  margin: auto;
  position: relative;
}
#search {
  background-color: white;
  margin: auto;
  width: 97%;
  height: 80%;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
input:focus {
  outline: none;
}
#restaurants {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  margin-top: 15px;
  box-shadow: 10px 10px 16px -7px rgba(148, 138, 148, 1);
  height: 210px;
}
#res-name{
  float: left;
  padding-top: 72px;
  padding-bottom: 72px;
  
  font-size: 22;
  width: 60%;
}
#res-title{
  float: left;
  font-size: 22;
  width: 15%;
  padding-top: 72px;
  
}
#res-img{
float: right;
width: 25%;
padding-top:10px ;
}
